.nav{
    width:2000px;
    height:150px;
    position:absolute;
    left:0px;
    top:0;
    z-index:9;
    animation:myfirst 6s infinite;
    -webkit-animation:myfirst 6s infinite;
    -animation:myfirst 6s infinite;
    -moz-animation:myfirst 6s infinite;
}

@keyframes myfirst {

    0% {
        left: 0px;
    }

    26.6% {
        left: 0px;
    }

    36.6% {
        left: -320px;
    }

    63.2% {
        left: -320px;
    }

    73.2% {
        left: -640px;
    }

    99.7% {
        left: -640px;
    }

    100% {
        left: -0px;
    }
}